* {
    font-family: sans-serif;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

// utilities: 
body {
    font-family: sans-serif;
}

.w-100 {
    width: 100vw;
}

.w-90 {
    width: 90vw;
}

.w-80 {
    width: 80vw;
}

.w-70 {
    width: 70vw;
}

.w-60 {
    width: 60vw;
}

.btn-orange {
    background-color: #fed23f;
    color: #6b6868;
    border: 0;
    font-size: 8px;
    padding: 7px 12px;

    &:hover {
        color: white;
        background-color: #1e1e1e;
    }
}

.btn-black {
    border: 0;
    font-size: 8px;
    padding: 7px 12px;
    color: white;
    background-color: #1e1e1e;

    &:hover {
        background-color: #fed23f;
        color: #6b6868;
    }
}

// peprsonalizzazione section icone colorate

.info-container .iconsColorate {
    color: red;

    &:hover {
        color: #fed23f;
        background-color: #f5f5f5;
    }

    h5 {
        color: #6b6868;
    }

    p {
        color: #6b6868;
    }
}

// personalizzazione titoli del footer 

.title-Props {
    margin: 0px auto;
    height: fit-content;


    .single-section {
        padding: 40px 10px 0;

    }

    h5 {
        color: #fed23f;
        font-size: 10px;
        text-align: center;
    }
}

// personalizzo cotatti footer
.fontSmall {
    font-size: 10px;
}

.contactIcon {
    font-size: 12px;
}